body {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#info-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

